$PaletaColores:(
    fondo-oscuro: #360e3085,
    fondo-intermedio: #651a5ab9,
    fondo-claro: #E53BCA
);
$IconHover:(
    twitch: #6441a5,
    facebook: #3b5998,
    instagram: #a72042,
    discord: #5865F2
);