/*MOBILE*/

@media only screen and (min-width:280px){

    .navegador  {
        display: none
    }

    .navbar {
        background: rgb(54, 14, 48);
        background: linear-gradient(90deg, rgba(54, 14, 48, 1) 0%, rgba(101, 26, 90, 0.8715861344537815) 35%, rgba(161, 58, 146, 0.41220238095238093) 100%);
    }
    .bg-dark {
        background-color: #24232400 !important
    }
    
}


/* TABLET */
@media only screen and (min-width:768px){
    .navbar {
        display: none;
    }

    .navegador{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 9%;
        margin-right: 9%;
        margin-bottom: 40px;
        background-size: contain;
        background-position: top center;
        text-align: center;
        background-color: #651a5a;
        box-shadow: 1px 1px 30px rgb(206, 106, 245);
        border: 5px solid #a13a92;
        border-radius: 3%;
            ul {
                display: flex;
                flex-flow: row;
                list-style: none;
                justify-content: space-evenly;
                margin: 0;
                padding: 0;
            }
            a {
                text-decoration: none;
                color: #E53BCA;
                background-color: #651a5a;
                padding-inline: 20px;
                font-size: 1.2rem;
                margin: 0px;
                text-decoration: none;
                transition: 1s;
            }
            a:hover{
                transition: 0.5s;
                background-color: #E53BCA;
                color: #651a5a;
            }
        }
}


/* DESKTOP HD*/
@media only screen and (min-width:960px){
    .navegador {
        margin-top: 20px;
        margin-left: 15%;
        margin-right: 15%;
    
        ul {
            flex-flow: row;
        }
        a { 
            font-size: 1.2rem;
        }
    }
}


/* DESKTOP L*/
@media only screen and (min-width:1150px) {
    .navegador{
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* DESKTOP XL*/
@media only screen and (min-width:1250px) {
    .navegador{
        margin-left: 25%;
        margin-right: 25%;
    }
}

