
*
{
    padding:0px;
    margin: 0px; 
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box
}

html{
    min-height: 100%;
    position: relative;
}
body{
    background-image: url(/Pages/img/wallpaper.png);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-bottom: 9vh;
}    

/* --- etiquetas NAV --- */   


/*MOBILE*/

@media only screen and (min-width:280px) {
    nav{
    
        margin-top: 20px; margin-left: 25%; margin-right: 25%; margin-bottom: 40px;
        background-size:contain;
        background-position: top center;
        text-align:center;
        background-color:#651a5a;
        box-shadow: 1px 1px 30px rgb(206, 106, 245);
        border: 5px solid #a13a92;
        border-radius: 3%;
    }
    nav ul {
        display:flex;
        flex-flow: column;
        list-style: none;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    
    nav a{
        text-decoration: none;
        color:#E53BCA;
        background-color: #651a5a;
        padding-inline: 20px;
        font-size:1rem;
        margin: 0px;
        text-decoration: none;
        transition: 1s;
        
    }
    nav a:hover{
        transition: 0.5s;
        background-color: #E53BCA;
        color: #651a5a;
    }
    
}

/* TABLET */
@media only screen and (min-width:768px){
    nav{
        
        margin-top: 20px; margin-left: 9%; margin-right: 9%; 
    }
    nav ul {
        flex-flow: row;
    }
    nav a{
        font-size: 1.2rem;
    }
    }
/* DESKTOP HD*/
@media only screen and (min-width:960px){
nav{
    
    margin-top: 20px; margin-left: 15%; margin-right: 15%; 
}
nav ul {
    flex-flow: row;
}
nav a{
    font-size: 1.2rem;
}
}


/* DESKTOP L*/
@media only screen and (min-width:1150px){
    nav{
        
    margin-left: 20%; margin-right: 20%;
    }
}

/* DESKTOP XL*/
@media only screen and (min-width:1250px){
    nav{
        
        margin-left: 25%; margin-right: 25%;
        }
}

/*  FIN etiquetas NAV*/



/*--- TITULOS ---*/


/*MOBILE*/

@media only screen and (min-width:280px){
.tituloMain
{   
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    
}
.logo{
    display: flex;
    width: 75vw
}
}

/*tablet*/

@media only screen and (min-width:768px){
    
    .logo{
        width: 70vw
    }
    }

/*desktop HD*/

@media only screen and (min-width:960px){
    
    .logo{
        width: 60vw
    }
    }

/*desktop L*/

@media only screen and (min-width:1150px){
    
    .logo{
        width: 40vw
    }
    }


/*desktop XL*/

@media only screen and (min-width:1250px){
    
    .logo{
        width: 30vw
    }
    }

/* --- FIN TITULO ---*/



/* --- grid main y FOOTER --- */



/*MOBILE*/

@media only screen and (min-width:280px){
    .gridmain{
    display: grid;
    height: 120vh;
    width: 100vw;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(14,1fr);
    margin-bottom: 9vh;
}
.gridmain h2{
    font-size: 1rem;
}
.vidmain
{
    display:flex;
    background-color: #651a5a54;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/4;
}


.GrillaHorarios{
    background-color:#651a5ab0;
    color:white;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    width:100%;
    grid-column: 1/3;
    grid-row: 4/6; 
}   
.GrillaHorarios p{
    text-align: center;
}
.GrillaHorarios div img{
    width: 50px;
    border: solid 2px #a13a92;
}
.GrillaHorarios div :hover{
    transform: scale(8);
    transition:1s
}

.clipTittle
{
    width: 100%;
    text-align: center;
    color:white ;}

.clipsMain{
    background-color:#651a5ab0;
    color:white ;
    display: flex;
    flex-flow: row;
    overflow:hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 1/3;
    grid-row: 6/15;
}   


.clipsAside{
    border: 2px solid #a13a92;
}


footer{
    display: flex;
    flex-flow: column;
    position: absolute;
    height: 9vh;
    bottom: 0;
    width: 100%;
    background-color:#651a5ab0;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: auto;
    color: #E53BCA;
    text-shadow: 2px 2px 10px #ffffff;
}
footer div{
    display: flex;
    justify-items: center;
}
.iconLink{
    
    height: 40px;
    width: 40px;
    background-color:#E53BCA;
    border: 5px solid #a13a92;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border-radius: 10%;
    box-shadow: 1px 1px 30px rgb(206, 106, 245);
    
}

footer div :hover {
    transform: scale(1.2);
    transition: 0.5s;
}

footer div a{
    margin-left: 20px;
}

h1{
    text-align: center;
}


}


/*TABLET*/

@media only screen and (min-width:768px){
    .gridmain{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(15,1fr);
    margin-bottom: 9vh;
}

.vidmain
{
    grid-column: 1/3;
    grid-row: 1/6;
}


.GrillaHorarios{

    grid-column: 1/2;
    grid-row: 6/16; 
}   
.GrillaHorarios p{
    text-align: center;
}
.GrillaHorarios div img{
    width: 90%;
    
}
.GrillaHorarios div :hover{
    transform:none;
    transition:none
}

.clipsMain{
    grid-column: 2/3;
    grid-row: 6/16;
}   
footer p{
    font-size: auto;
    margin-bottom: 20px;
    color: #E53BCA;
    text-shadow: 2px 2px 10px #ffffff;
}
}

/*DESKTOP todos */

@media only screen and (min-width:960px){


    .gridmain{
    display: grid;
    height: 65vh;
    width: 100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
}  

.vidmain
{
    display:flex;
    align-items: center;
    grid-column: 2/5;
    grid-row: 1/5;
}


.clipsMain{
    background-color:#651a5ab0;
    color:white ;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 5/6;
    grid-row: 1/5;
}   


.clipsAside{
    border: 2px solid #a13a92;
}

.GrillaHorarios{
    background-color:#651a5ab0;
    color:white;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    grid-column: 1/2;
    grid-row: 1/6; 
}   
.GrillaHorarios p{
    text-align: center;
    
    
}
.GrillaHorarios div img{
    max-width: 40vh;
    min-width: 20vh;
    max-height: 40vh;
    flex-shrink: 3;
}


footer{
    display: flex;
    flex-flow: column;
    position: absolute;
    height: 9vh;
    bottom: 0;
    width: 50%;
    background-color:#651a5ab0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 25%;
}
footer p{
    font-size: auto;
    margin-bottom: 20px;
    color: #E53BCA;
    text-shadow: 2px 2px 10px #ffffff;
}
footer div{
    display: flex;
    justify-items: center;
}
.iconLink{
    
    height: 40px;
    width: 40px;
    background-color:#E53BCA;
    border: 5px solid #a13a92;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border-radius: 10%;
    box-shadow: 1px 1px 30px rgb(206, 106, 245);
    
}

footer div :hover {
    transform: scale(1.2);
    transition: 0.5s;
}

footer div a{
    margin-left: 20px;
}

h1{
    text-align: center;
}

.gridmain{
    font-size: 1.5rem;
}

}


/* ---------- FIN PAGINA HOME  --------*/


/* ---------- PAGINA CLIPS ----------- */

/* Clip destacado */


/* Mobile */
@media only screen and (min-width:280px){

    .clipDestacado{
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100vw;
        background-color: #651a5a;
    }
    .clipDestacado li{
        word-spacing: 3px;
        letter-spacing: 1px;
        text-align: center;
        list-style: none;
    }
    
    .descVidDestacado{
        font-size: 1rem;
        background-color:#270923b0;
        color: #ffffff;
    
    }
    
    /* FIN clip destacado */
    
    /* Separador videos */
    .separadorVideos{
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 50px;
        width: 100vw;
        background-color: #651a5a;
        box-shadow: 1px 1px 30px rgb(206, 106, 245);
        font-size: 1rem;
    }
    
    .separadorVideos div{
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #ffffff;
        background-color: #270923b0;
        width: 100%;
        justify-content:center;
        letter-spacing: 2px;
        word-spacing: 5px;
        align-items: center;
        
    }
    
    .separadorVideos i{
        font-size: 20px;
        height: 10px;
        padding-left: 5px;
    }
    
    /* FIN SEPARADOR VIDEOS */
    
    /*Listado pagina Clips */
    
    .videosAnteriores{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        justify-items: center;
        gap: 2em;
        background-color: #651a5a54;
    }
    
    
    .clipAnterior {
    display: flex;
    flex-flow: column;
    padding: 20px;
    height: auto;
    width: 100vw;
    background-color: #651a5a;
    border: 2px solid #a13a92;
    font-size: 14px;
    text-align: center;
    align-items: center;
    color:#ffffff;
    }
    li.vidDestG{
        display: none;
    }
    }

/* Tablet */

@media only screen and (min-width:768px){

    .clipDestacado{
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        background-color: #651a5a;
    }
    .clipDestacado li{
        word-spacing: 3px;
        letter-spacing: 1px;
        text-align: center;
        list-style: none;
    }
    
    .descVidDestacado{
        width: 40vw;
        font-size: 1rem;
        background-color:#270923b0;
        color: #ffffff;
    
    }
    
    /* FIN clip destacado */
    
    /* Separador videos IDENTICO MOBILE */

    /* FIN SEPARADOR VIDEOS */
    
    /*Listado pagina Clips */
    
    .videosAnteriores{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);

    }
    .clipAnterior {
    width: auto;
    }
    .clip1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .clip2{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .clip3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .clip4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    

    }

/* desktop */

@media only screen and (min-width:960px){

.clipDestacado{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #651a5a;
    height: 450px;
}
.clipDestacado li{
    width: 40vw;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    list-style: none;
    display: flex;
    align-items:center;
}

li.vidDestacado{
    justify-content: center;
}
iframe.descVidDestacado{
    width:100%
}
.descVidDestacado{
    margin-left: 25px;
    background-color:#270923b0;
    color: #ffffff;

}

.clipAnterior {
    flex-flow: row;
    width: 600px;
    align-items: center;
    font-size: 1.2rem;
}
.clipAnterior p{
    margin-left: 20px;
}

li.vidDestG{
    display: flex;
}
li.vidDestacado{
    display: none;
}

}



/* ---------- FIN pagina clips ---------- */

/*----------- Pagina Merch ------------ */

/*MOBILE*/

@media only screen and (min-width:280px){

    /* Titulo store */
    
    .titulos{
        height: 45px;
        width: 100vw;
        margin-top: 40px;
        background: #651a5a;
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
    }
    /* FIN Titulo store */
    
    /* Slider de productos */
    
    .sliderStore{
        background-color:#651a5ab9;
        width: 100vw;
        height: auto;
        padding: 30px;
        text-align: center;
        align-items: center;
        box-shadow: 1px 1px 30px rgb(206, 106, 245);
        border-radius: 8%;
    
    }
    
    .sliderStore ul,li{
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    
    ul.slider {
        position: relative;
        width: 80vw;
        height: 300px;
        text-align: center;
        align-items: center;
    
    }
    ul.slider li{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 80vw;
        height: inherit;
        text-align: center;
        background-color: #360e30;
        transition: opacity .5s;
    
    }

    #mensajeslider{
        word-spacing: 3px;
        letter-spacing: 1px;
        font-size: 15px;
        text-align: center;
        font-weight: lighter;
        display: flex;
        align-items:center;
        color: #E53BCA;
    }
    
    ul.slider li img{
        width: 100%;
        height: 300px;
        object-fit:contain;
        
    }
    
    ul.slider li:first-child{
        opacity: 1;
    }
    
    ul.slider li:target{
        opacity: 1;
    }
    
    .menuStore{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
    
    .menuStore li{
        display: inline-block;
        text-align: center;
        margin: 1vh;
    
    }
    
    .menuStore li a{
        display: inline-block;
        height: 40px;
        width: 40px;
        color:white;
        text-align: center;
        text-decoration: none;
        background-color: #E53BCA;
        border: 5px solid #a13a92;
        font-size: 20px;
        border-radius: 10%;
        transition: 1s;
        line-height: 30px;
        box-shadow: 1px 1px 30px rgb(206 106 245);
    
    }
    
    .menuStore li a:hover{
        box-shadow:2px 2px 30px rgb(255, 255, 255);
        transform: scale(1.2);
        transition: 0.5s;
    }

    
    #mensajeslider i{
        width: 10%;
    }
    
    
    
    
    /* FIN Slider de productos */
    
    
    /* Articulos Store */
    
    .storeMain{
        display: grid;
        grid-template-columns: 1 1fr;
        height: auto;
        width: 100vw;
        justify-content: center;
        align-content: center;
        margin-top: 30px;
    
    }
    .articulo{
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        flex-shrink: 2;
        height: 250px;
        width: 250px;
        margin: 5px;
        padding: 15px;
        background-color: #360e30;
    }
    
    .articulo p{
        text-align: center;
        margin-top: 3px;
    }
    
    /* FIN articulos store */
    
    /* BOTON COPIADO, SOLO CAMBIE UN PAR DE PARAMETROS DE COLOR DEL GRADIENT Y RADIO DEL BORDE */
    .bn30 {
        border: 5em;
        cursor: pointer;
        outline: none;
        font-size: 16px;
        -webkit-transform: translate(0);
        transform: translate(0);
        background-image: linear-gradient(45deg,#E53BCA , #651a5a54);
        padding: 0.7em 2em;
        border-radius: 65px;
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
        -webkit-transition: box-shadow 0.25s;
        transition: box-shadow 0.25s;
        color: white;
    }
    .bn30 .text {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(45deg, #ffffff, #b06ab3);
    }
    .bn30:after {
        content: "";
        border-radius: 18px;
        position: absolute;
        margin: 4px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: #0e0e10;
    }
    
    .bn30:hover {
        background-image: linear-gradient(-45deg, #757575, #242324);
        box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    }
    .bn30:hover .text {
        background-image: linear-gradient(-45deg, #acacac, #b06ab3);
    }
    
    
    /* FIN boton proximamente */
    
    
    }

/*TABLET*/

@media only screen and (min-width:768px){

    /* Slider de productos */
    
    ul.slider {
        width: 80vw;
    }
    ul.slider li{
        width: 90vw;
    }

    #mensajeslider{
        word-spacing: 4px;
        letter-spacing: 2px;
        font-size: 20px;
        line-height: 60px;
        color: #E53BCA;
    }
    .menuStore li{
        display: inline-block;
        text-align: center;
        margin: 1vh;
    }

    /* FIN Slider de productos */


/* Articulos Store */

.storeMain{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr) ;
}
.articulo{
    margin-left: 55px;
}
}
/*DESKTOP*/

@media only screen and (min-width:960px){

/* Titulo store */

.titulos{
    height: 45px;
    width: auto;
    margin-top: 40px;
    background: #651a5a;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
/* FIN Titulo store */

/* Slider de productos */

.sliderStore{
    margin: auto;
    background-color:#651a5ab9;
    width: 800px;
    height: auto;
    padding: 30px;
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 30px rgb(206, 106, 245);
    border-radius: 8%;

}

.sliderStore ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.slider {
    position: relative;
    width: 740px;
    height: 300px;
    text-align: center;
    align-items: center;

}
ul.slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: inherit;
    text-align: center;
    background-color: #360e30;
    transition: opacity .5s;

}

ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit:contain;
    
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menuStore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.menuStore li{
    display: inline-block;
    text-align: center;
}

.menuStore li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color:white;
    text-align: center;
    text-decoration: none;
    background-color: #E53BCA;
    border: 5px solid #a13a92;
    font-size: 20px;
    border-radius: 10%;
    transition: 1s;
    line-height: 30px;
    box-shadow: 1px 1px 30px rgb(206 106 245);

}

.menuStore li a:hover{
    box-shadow:2px 2px 30px rgb(255, 255, 255);
    transform: scale(1.2);
    transition: 0.5s;
}
#mensajeslider{
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    display: flex;
    align-items:center;
    color: #ffffff;
}

#mensajeslider i{
    width: 10%;
}




/* FIN Slider de productos */


/* Articulos Store */

.storeMain{
    background-color:#651a5ab9;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    height: 900px;
    width: auto;
    justify-content: center;
    align-content: center;
    margin: 150px;

}
.articulo{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-shrink: 2;
    height: 250px;
    width: 250px;
    margin: 5px;
    padding: 15px;
    background-color: #360e30;
}

.articulo p{
    text-align: center;
    margin-top: 3px;
}

/* FIN articulos store */

/* BOTON COPIADO, SOLO CAMBIE UN PAR DE PARAMETROS DE COLOR DEL GRADIENT Y RADIO DEL BORDE */
.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg,#E53BCA , #651a5a54);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}
.bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #ffffff, #b06ab3);
}
.bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
}

.bn30:hover {
    background-image: linear-gradient(-45deg, #757575, #242324);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.bn30:hover .text {
    background-image: linear-gradient(-45deg, #acacac, #b06ab3);
}


/* FIN boton proximamente */


}

/* =============== FIN PAGINA MERCH ============ */


/*=========== ABOUT=========== */

.aboutbox {
    margin-left: 15%;
    height: 800px;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.aboutbox div{
    height: auto;
    width: auto;
    background-color:#360e30;
    border: 2px solid #a13a92;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.aboutbox div p{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 329px;
    width: 564px;
    word-spacing: 2px;
    justify-content: center;
}


/* ============ FIN about ========= */

/* ========== Subscribe =========== */

.subscribe1 {
    margin: 50px 15% 50px 15%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.subscribe2{
    margin: 50px 35% 50px ;
    display: block;
    height: 150px;
    width: 700px;

}

.subscribe3{
    margin: 100px 40% 50px;
    display: block;
    height: 150px;
    width: 500px;

}

.panelsub{
    height: auto;
    width: auto;
    padding: 20px;
    background-color:#360e30;
    border: 2px solid #a13a92;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.panelsub p{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: auto;
    word-spacing: 2px;
    justify-content: center;
}

.panelsub a{
    text-decoration: none;
    color: #a13a92;
}


/* ============== Fin subscribe =========== */


/* ================== contacto =========== */


.contact{
    text-align: center;
    height: 800px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    
}

.contact p{
    display: flex;
    height: 500px;
    width: 500px;
    font-size: 25px;
    word-spacing: 3px;
    line-height:200%;
    background-color: #360e30;
    color: white;
    align-items: center;
    
}

.contact form{
    height: 500px;
    width: 500px;
    font-size: 25px;
    word-spacing: 3px;
    line-height:200%;
    background-color: #360e30;
    color: white;
}
.contact form textarea{
    height: 250px;
    width: 90%;
}
.contact input {
    width: 250px;
}



