* {
  padding: 0px;
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  background-image: url(/Pages/img/wallpaper.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-bottom: 9vh;
}

.gradient {
  background: #360e30;
  background: -webkit-gradient(linear, left top, right top, from(#360e30), color-stop(35%, rgba(101, 26, 90, 0.871586)), to(rgba(161, 58, 146, 0.412202)));
  background: linear-gradient(90deg, #360e30 0%, rgba(101, 26, 90, 0.871586) 35%, rgba(161, 58, 146, 0.412202) 100%);
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.fade.show {
  background: rgba(3, 3, 3, 0.658);
}

.disclamer {
  display: none !important;
}

/* Efecto pulse */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animatedinfinite {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #242324;
}

::-webkit-scrollbar-thumb {
  background-color: #a13a92;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #360e30;
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

/* --- etiquetas NAV --- */
@use "navbar";
/*  FIN etiquetas NAV*/
/*--- TITULOS ---*/
/*MOBILE*/
@media only screen and (min-width: 280px) {
  .tituloMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60vw;
  }
  .desktoplogo {
    display: none;
  }
  @-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
      opacity: 1;
    }
  }
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .desktoplogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    width: 70vw;
  }
}

/*desktop HD*/
@media only screen and (min-width: 960px) {
  .logo {
    width: 60vw;
  }
}

/*desktop L*/
@media only screen and (min-width: 1150px) {
  .logo {
    width: 40vw;
  }
}

/*desktop XL*/
@media only screen and (min-width: 1250px) {
  .logo {
    width: 30vw;
  }
}

/* --- FIN TITULO ---*/
/* --- grid main y FOOTER --- */
/*MOBILE*/
@media only screen and (min-width: 280px) {
  .videoHome {
    min-height: 30vh;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    height: 9vh;
    bottom: 0;
    width: 100%;
    background-color: #651a5ab0;
  }
  footer p {
    font-size: auto;
    color: #E53BCA;
    text-shadow: 2px 2px 10px #ffffff;
    margin-bottom: 0;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
  }
  .iconLink {
    height: 40px;
    width: 40px;
    background-color: #E53BCA;
    border: 5px solid #a13a92;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border-radius: 10%;
    -webkit-box-shadow: 1px 1px 30px #ce6af5;
            box-shadow: 1px 1px 30px #ce6af5;
  }
  footer div :hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  footer div a {
    margin-left: 20px;
  }
  .clipTittle {
    color: white;
    text-align: center;
  }
  .grillaHome h2 {
    color: white;
    text-align: center;
  }
  .clipsHome {
    width: 100vw;
  }
  .grillaHome {
    max-width: 500px;
  }
  .fa-twitch:hover {
    color: #6441a5;
  }
  .fa-facebook:hover {
    color: #3b5998;
  }
  .fa-instagram:hover {
    color: #a72042;
  }
  .fa-discord:hover {
    color: #5865F2;
  }
}

/*TABLET*/
@media only screen and (min-width: 768px) {
  footer p {
    font-size: auto;
    margin-bottom: 20px;
    color: #E53BCA;
    text-shadow: 2px 2px 10px #ffffff;
  }
  .clipsAside {
    min-height: 15vh;
    min-width: 25vw;
  }
}

/*DESKTOP todos */
@media only screen and (min-width: 960px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    height: 9vh;
    bottom: 0;
    width: 50%;
    background-color: #651a5ab0;
    padding: 20px;
    margin-left: 25%;
  }
  footer p {
    font-size: auto;
    margin-bottom: 20px;
    color: #E53BCA;
    text-shadow: 2px 2px 10px #ffffff;
    margin-bottom: 0;
  }
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
  }
  .iconLink {
    height: 40px;
    width: 40px;
    background-color: #E53BCA;
    border: 5px solid #a13a92;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border-radius: 10%;
    -webkit-box-shadow: 1px 1px 30px #ce6af5;
            box-shadow: 1px 1px 30px #ce6af5;
  }
  footer div :hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  footer div a {
    margin-left: 20px;
  }
  h1 {
    text-align: center;
  }
  .gridmain {
    font-size: 1.5rem;
  }
  .clipsAside {
    min-height: 30vh;
  }
  .videoHome {
    margin-left: auto;
  }
}

/* ---------- FIN PAGINA HOME  --------*/
/* ---------- PAGINA CLIPS ----------- */
/* Clip destacado */
/* Mobile */
@media only screen and (min-width: 280px) {
  .clipDestacado {
    margin-top: 20px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    background-color: #651a5a;
  }
  .clipDestacado li {
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
    list-style: none;
  }
  .descVidDestacado {
    font-size: 1rem;
    background-color: #270923b0;
    color: #ffffff;
  }
  /* FIN clip destacado */
  /* Separador videos */
  .barra-separador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    width: 100vw;
    background-color: #651a5a;
    -webkit-box-shadow: 1px 1px 30px #ce6af5;
            box-shadow: 1px 1px 30px #ce6af5;
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .barra-separador div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #270923b0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .barra-separador i {
    font-size: 20px;
    height: 10px;
    padding-left: 5px;
  }
  .barra-separador p {
    font-size: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  /* FIN SEPARADOR VIDEOS */
  /*Listado pagina Clips */
  .videosAnteriores {
    background-color: #651a5a54;
  }
  .clipAnterior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 20px;
    height: auto;
    width: 100vw;
    background-color: #651a5a;
    border: 2px solid #a13a92;
    font-size: 14px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }
  li.vidDestG {
    display: none;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .clipDestacado {
    margin-top: 20px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100vw;
    background-color: #651a5a;
  }
  .clipDestacado li {
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
    list-style: none;
  }
  .descVidDestacado {
    width: 40vw;
    font-size: 1rem;
    background-color: #270923b0;
    color: #ffffff;
    max-width: 600px;
  }
  /* FIN clip destacado */
  /*Listado pagina Clips */
  .videosAnteriores {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .clipAnterior {
    width: auto;
  }
  .clip1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .clip2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .clip3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .clip4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

/* desktop */
@media only screen and (min-width: 960px) {
  .clipDestacado {
    margin-top: 20px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #651a5a;
    height: 450px;
  }
  .clipDestacado li {
    width: 40vw;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  li.vidDestacado {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  iframe.descVidDestacado {
    width: 100%;
  }
  .descVidDestacado {
    margin-left: 25px;
    background-color: #270923b0;
    color: #ffffff;
  }
  .clipAnterior {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.2rem;
  }
  .clipAnterior p {
    margin-left: 20px;
  }
  li.vidDestG {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li.vidDestacado {
    display: none;
  }
}

/* ---------- FIN pagina clips ---------- */
/*----------- Pagina Merch ------------ */
/*MOBILE*/
@media only screen and (min-width: 280px) {
  /* Slider de productos */
  #carouselMerch {
    width: 100vw;
    max-width: 780px;
    background-color: #651a5ab9;
    border-radius: 8%;
  }
  .carousel-item {
    background-color: #360e3085;
    border-radius: 8%;
  }
  /* FIN Slider de productos */
  /* Articulos Store */
  .container-articulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .storeMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1 1fr;
        grid-template-columns: 1 1fr;
    height: auto;
    width: 100vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 30px;
  }
  .articulo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    height: 250px;
    width: 250px;
    margin: 5px;
    padding: 15px;
    background-color: #360e30;
  }
  .articulo p {
    text-align: center;
    margin-top: 3px;
  }
  /* FIN articulos store */
  /* BOTON COPIADO, SOLO CAMBIE UN PAR DE PARAMETROS DE COLOR DEL GRADIENT Y RADIO DEL BORDE */
  .bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #E53BCA, #651a5a54);
    padding: 0.7em 2em;
    border-radius: 65px;
    -webkit-box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
            box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    color: white;
  }
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #ffffff, #b06ab3);
  }
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  .bn30:hover {
    background-image: linear-gradient(-45deg, #757575, #242324);
    -webkit-box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
            box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #acacac, #b06ab3);
  }
  /* FIN boton proximamente */
  /* Modals */
  .modal-content {
    background-image: url(/Pages/img/wallpaper.png);
    background-size: cover;
  }
  .articulo :hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

/*TABLET*/
@media only screen and (min-width: 768px) {
  /* Articulos Store */
  .storeMain {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .articulo {
    margin-left: 55px;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 960px) {
  /* Articulos Store */
  .storeMain {
    background-color: #651a5ab9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 900px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 150px;
  }
  .articulo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    height: 250px;
    width: 250px;
    margin: 5px;
    padding: 15px;
    background-color: #360e30;
  }
  .articulo p {
    text-align: center;
    margin-top: 3px;
  }
  /* FIN articulos store */
  /* BOTON COPIADO, SOLO CAMBIE UN PAR DE PARAMETROS DE COLOR DEL GRADIENT Y RADIO DEL BORDE */
  .bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #E53BCA, #651a5a54);
    padding: 0.7em 2em;
    border-radius: 65px;
    -webkit-box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
            box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    -webkit-transition: -webkit-box-shadow 0.25s;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    color: white;
  }
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #ffffff, #b06ab3);
  }
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  .bn30:hover {
    background-image: linear-gradient(-45deg, #757575, #242324);
    -webkit-box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
            box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #acacac, #b06ab3);
  }
  /* FIN boton proximamente */
}

/* =============== FIN PAGINA MERCH ============ */
/*=========== ABOUT=========== */
.aboutbox {
  gap: 50px;
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 280px) {
  .vidAbout {
    width: 90vw;
    height: 30vh;
  }
}

@media only screen and (min-width: 768px) {
  .vidAbout {
    width: 100vw;
    height: 60vh;
    max-width: 850px;
    max-height: 480px;
  }
}

.aboutbox div {
  background-color: #360e30;
  border: 2px solid #a13a92;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.aboutbox div p {
  text-align: center;
  word-spacing: 2px;
  font-size: 1.5vh;
}

.vidAbout iframe {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.abouttext {
  width: 100vw;
  max-width: 600px;
  height: 25vh;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ============ FIN about ========= */
/* ========== Subscribe =========== */
.subPage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.subPage section {
  background-color: #360e30;
  border: 2px solid #a13a92;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.subscribe {
  width: 100vw;
  max-width: 350px;
  height: 20vh;
  max-height: 350px;
}

/* ============== Fin subscribe =========== */
/* ================== contacto =========== */
.textContacto {
  background-color: #360e30;
  width: 75vw;
  max-width: 450px;
  height: 40vh;
  max-height: 450px;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.formulario {
  background-color: #360e30;
  margin-top: 30px;
  color: white;
  max-width: 700px;
  margin-left: 0;
  margin-right: 0;
}
/*# sourceMappingURL=estilo.css.map */